<section class="players">
	<h1>Catalog</h1>
	<aside>
		<h2><label for="SearchText">Search Text</label></h2>
		<input id="SearchText" type="text" placeholder="Search word..." name="SearchText" ng-model="search.SearchText">
		<hr>
		<h2>Subject</h2>
		<div class="checkboxes">
			<label ng-repeat="subject in filter.subject">
				<input type="checkbox" ng-model="search.subject[subject]">{{subject}}
			</label>
		</div>
		<hr>
		<h2>Type</h2>
		<div class="checkboxes">
			<label ng-repeat="type in filter.SearchType">
				<input type="checkbox" ng-model="search.SearchType[type]">{{type}}
			</label>
		</div>
	</aside>
	<section class="content">
		<table class="list data">
			<thead>
				<tr>
					<th class="">Subject</th>
					<th class="">Type</th>
					<th class=""><a href="" ng-click="predicate = '-visits'">Count</a></th>
					<th class=""><a href="" ng-click="predicate = 'SearchText'">Search Text</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="search in searches | searchFilter: search | orderBy:predicate">
					<td>{{search.subject}}</td>
					<td>{{search.SearchType[0]}}</td>
					<td>{{search.visits[0]}}</td>
					<td>{{search.SearchText[0]}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>