<section class="players">
	<h1>Catalog</h1>
	<aside>
		<h2><label for="title">Title</label></h2>
		<div class="filter">
			<input id="title" type="text" placeholder="Search word..." name="title" ng-model="search.title">
		</div>
		<h2>Subject</h2>
		<div class="filter checkboxes">
			<label ng-repeat="subject in filter.subject">
				<input type="checkbox" ng-model="search.subject[subject]">{{subject}}
			</label>
		</div>
		<h2>Format</h2>
		<div class="filter checkboxes">
			<label ng-repeat="format in filter.format">
				<input type="checkbox" ng-model="search.format[format]">{{format}}
			</label>
		</div>
	</aside>
	<section class="content">
		<table class="list data">
			<thead>
				<tr>
					<th class=""><a href="" ng-click="predicate = 'subject'">Subject</a></th>
					<th class=""><a href="" ng-click="predicate = 'format'">Format</a></th>
					<th class=""><a href="" ng-click="predicate = 'title'">Title</a></th>
					<th class=""><a href="" ng-click="predicate = 'category'">Category</a></th>
					<th class=""><a href="" ng-click="predicate = 'subcategory'">Sub</a></th>
					<th class=""><a href="" ng-click="predicate = 'subsubcategory'">Sub Sub</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="search in searches | searchFilter: search | orderBy:predicate">
					<td>{{search.subject}}</td>
					<td>{{search.format}}</td>
					<td>{{search.title}}</td>
					<td>{{search.category}}</td>
					<td>{{search.subcategory}}</td>
					<td>{{search.subsubcategory}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>